#personal-bookmarks {
  padding: 4px 0 !important;
}
#personal-bookmarks toolbarbutton {
  margin: 4px !important;
}

.tab-background,
#urlbar-background,
#personal-bookmarks toolbarbutton {
  border-radius: 20px !important;
}

findbar {
  order: -1;
}
